.headline
	padding-bottom 45px
	font 700 3.4rem/1.2em font-second
	text-align left
	color brown
	
	&--decor
		text-align center
		font-size 0
		
		svg,
		span
			display inline-block
			vertical-align middle
		
		svg
			width 120px
			height 7.2px
			fill brown-light

		span
			font 700 3.4rem/1.2em font-second
			padding 0 20px
			

	+width-sm()
		text-align center
		font-size 2.2rem
		
		&--decor
			
			span
				font-size 2.2rem
				
			svg
				display none

		

