.form-feedback
	width 100%
	max-width 370px
	border-radius 15px
	padding 25px 30px 18px
	background-color brown
	
	&__title
		font-size 1.8rem
		font-weight 600
		line-height 2.4rem
		color #FFF
	
	&__descr,
	&__input,
	&__btn
		margin-bottom 20px
		
	&__descr
		font-size 1.5rem
		line-height 2.4rem
		font-style italic
		color #e3e3e3

	
	&__input
		width 100%
		color: #FFF
		background-color transparent
		
		+placeholder()
			color #e3e3e3
		
	&__btn
		max-width 100%
	
	&__info
		font-size 1.2rem
		line-height 1.6rem
		font-style italic
		color #c7c7c7

	