.card-vacancy
	width 100%
	max-width 370px
	min-height 380
	padding 25px 30px
	background-color #FFF
	border: 1px dashed #707070
	border-radius 15px

	&__title
		margin-bottom 5px
		font-size 1.8rem
		font-weight 600
		line-height 2.4rem

	&__list

	&__item
		font-size 1.5rem
		line-height 2.4rem

	