.catalog
	
	&__list
		display flex
		flex-wrap wrap 
		align-items flex-start
		justify-content space-between
		
		.card-catalog
			margin-bottom 20px
			
	&__info
		margin-top 65px
		p 
			font-size 14px
			line-height 24px
			color rgba(39, 39, 39, 0.63)
			
			&:not(:last-child)
				margin-bottom 25px
				

	+width-sm()
		
		&__list
			flex-direction column
			align-items center
