.btn
	display inline-block
	height 45px
	width 100%
	max-width 235px
	padding 0
	border-radius 22.5px
	font 600 1.6rem/4.5rem font-main
	color: grey-dark
	border 1px solid orange
	background-color orange-dark
	trs()
	
	&:hover
		cursor pointer
		opacity .8
		
	&:active
		transform scale(.97)
		
	&--red
		border: none
		color white
		background-color rgba(243, 29, 18, .9)
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.29);

		
	

