html
  font-size 10px
  
html,
body 
  height 100%

body 
  font 400 1.6rem/1 font-main
  color grey
  background-color white
  overflow-x hidden
  min-width 320px

* 
  box-sizing border-box
  vertical-align top 

h1,
h2,
h3,
h4,
h5,
h6 
  margin 0

ul 
  padding 0
  margin 0

li 
  list-style none

p 
  margin 0


a 
  text-decoration none
  color inherit

a:focus,
button:focus,
img:focus 
  outline none

img 
  max-width 100%
  height auto 

.input 

  
.textarea 


input:focus, 
textarea:focus, 
select:focus 
  outline: none 

input[type="text"]:focus::-webkit-input-placeholder  
	color transparent 
input[type="text"]:focus::-moz-placeholder           
	color transparent 
input[type="text"]:focus:-moz-placeholder            
	color transparent 
input[type="text"]:focus:-ms-input-placeholder       
	color transparent 

input[type="email"]:focus::-webkit-input-placeholder  
	color transparent 
input[type="email"]:focus::-moz-placeholder           
	color transparent 
input[type="email"]:focus:-moz-placeholder            
	color transparent 
input[type="email"]:focus:-ms-input-placeholder       
	color transparent 

textarea:focus::-webkit-input-placeholder            
	color transparent 
textarea:focus::-moz-placeholder                     
	color transparent 
textarea:focus:-moz-placeholder                      
	color transparent 
textarea:focus:-ms-input-placeholder                 
	color transparent 


.headline 
  font 700 3rem/1 font-second
  text-align center
  color grey--dark
