/*
 * ========================
 * GRID
 * ========================
 */

.grid 
  max-width 1170px
  min-width 320px
  padding-left 15px
  padding-right 15px
  margin auto

  +width-lg()
    max-width 960px

  +width-md()
    max-width 720px
  
  +width-sm()
    max-width 100%
    

 
    
