/*
 * ========================
 * GRID
 * ========================
 */

.grid 
  max-width 1200px
  min-width 320px
  padding-left 15px
  padding-right 15px
  margin auto

  +width-lg()
    max-width 960px

  +width-md()
    max-width 720px
  
  +width-sm()
    max-width 100%
    padding-left 35px
    padding-right 35px
    
  +max(425px)
    padding-left 20px
    padding-right 20px
    

 
    
