@import 'nib'
@import './var.styl'
@import './mixins/all-mixins.styl'


	
*
	padding 0
	margin 0
	box-sizing: border-box
	&::after
		padding 0
		margin 0
		box-sizing: border-box
	&::before
		padding 0
		margin 0
		box-sizing: border-box

html
	font-size 16px

body
	line-height 1.5
	font-family default-text

article, aside, figcaption, figure, 
footer, header, hgroup, main, nav, section 
	display block

ol,li 
	list-style none

h1, h2, h3, h4, h5, h6
	margin 0
	font-family default-text

a
	text-decoration none
	background-color: transparent;
	color default-color

.title
	letter-spacing 1px
	font-size 3rem
	color lightblue


@import './media.styl'