// Глобальные файлы стилей
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'base.styl'
@import 'grid.styl'

// Стилевые файлы БЭМ-блоков
@import '../blocks/promo/promo.styl'
@import '../blocks/card-sort/card-sort.styl'
@import '../blocks/headline/headline.styl'
@import '../blocks/catalog/catalog.styl'
@import '../blocks/card-catalog/card-catalog.styl'

@import '../blocks/pages/index-page/index-page.styl'
@import '../blocks/btn/btn.styl'
@import '../blocks/card-product/card-product.styl'
@import '../blocks/quantity/quantity.styl'