// Глобальные файлы стилей
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'base.styl'
@import 'grid.styl'

// Стилевые файлы БЭМ-блоков
@import '../blocks/promo/promo.styl'
@import '../blocks/card-sort/card-sort.styl'
@import '../blocks/headline/headline.styl'
@import '../blocks/catalog/catalog.styl'
@import '../blocks/card-catalog/card-catalog.styl'
@import '../blocks/header/header.styl'
@import '../blocks/footer/footer.styl'
@import '../blocks/btn/btn.styl'
@import '../blocks/card-product/card-product.styl'
@import '../blocks/quantity/quantity.styl'
@import '../blocks/slider-base/slider-base.styl'
@import '../blocks/modal-entry/modal-entry.styl'
@import '../blocks/tabs/tabs.styl'
@import '../blocks/breadcrumbs/breadcrumbs.styl'
@import '../blocks/card-news/card-news.styl'
@import '../blocks/form-feedback/form-feedback.styl'
@import '../blocks/card-vacancy/card-vacancy.styl'
@import '../blocks/contacts/contacts.styl'
@import '../blocks/product/product.styl'
@import '../blocks/step/step.styl'
@import '../blocks/file-upload/file-upload.styl'

@import '../blocks/pages/index-page/index-page.styl'
@import '../blocks/pages/catalog-page/catalog-page.styl'
@import '../blocks/pages/assortment-page/assortment-page.styl'
@import '../blocks/pages/news-page/news-page.styl'
@import '../blocks/pages/news-open-page/news-open-page.styl'
@import '../blocks/pages/portfolio-page/portfolio-page.styl'
@import '../blocks/pages/contacts-page/contacts-page.styl'
@import '../blocks/pages/cart-page/cart-page.styl'
@import '../blocks/pages/product-page/product-page.styl'
@import '../blocks/pages/calculator-page/calculator-page.styl'



