// Глобальные файлы стилей
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'base.styl'
@import 'grid.styl'

// Стилевые файлы БЭМ-блоков
@import '../blocks/test/test.styl'
@import '../blocks/test1/test1.styl'