// COLOR VARIABLES
grey-light = #F6F6F6
grey = #404040
grey-dark = #1E1E1E
blue = #446CCF
blue-dark = #00174D
green = #50C878
pink = #E52B50
red = #F31D12
pink-light = #F2E4D3
orange-dark = #F39C12
orange = #F2B010
orange-light = #FFCD02
brown = #553333
brown-light = #DFC088


// FONTS VARIABLES
font-main   = 'Open Sans', sans-serif
font-second = 'Merriweather', serif
font-decor  = 'Caveat', cursive


// MEDIA QUERY VARIABLES
width-lg = 1200px
width-md = 992px
width-sm = 768px
width-xs = 540px





