.header
	position fixed
	top 0
	left 0
	width 100%
	background-color: #FFF
	z-index 10
	
	&+section,
	&+div
		margin-top 160px
		
	.grid 
		display flex
		flex-wrap wrap 
		justify-content space-between
		align-items flex-end
	
	&__logo
		trs()
		
		&:hover
			opacity .8
		
		svg
			width 100%
			max-width 280px
			height 45px
			fill brown

	&__switch
		display none

	&__location
		position relative
		width 100%
		max-width 570px
		border-radius 15px
		background #fff
		
		&--active
			box-shadow 0px 3px 20px rgba(0, 0, 0, 0.26)

		&-head
			position relative
			display flex
			justify-content space-between
			align-items center
			height 45px
			border-radius 15px
			
			&::after
				content ''
				position absolute
				top 0
				left 0
				width calc(100% - 2px)
				height calc(100% - 2px)
				border 1px dashed pink-light
				border-radius 15px
				
		&-title,
		&-switch	
			position relative
			z-index 1

		&-title
			display flex
			align-items center
			height 100%
			padding-left 20px
			
			svg
				width 15px
				height 22px
				margin-right 15px
				fill brown
				
			span 
				font-weight 600
				font-size 15px
				color #707070

		&-switch
			display flex
			align-items center
			justify-content center
			width 38px
			height 100%
			border-radius 0px 15px 15px 0px
			text-align center
			background pink-light
			trs()
			
			&:hover
				cursor pointer
				opacity .8
			
			svg
				width 10px
				height 5px
				fill #000

		&-body
			display none
			padding 20px 22px 25px
			background-color #FFF
			border-radius 0 0 15px 15px
			// for active
			position absolute
			top 100%
			left 0

		&-item
			display flex
			align-items flex-start
			font-size 1.5rem
			line-height 2.4rem
			
			&:not(:last-child)
				margin-bottom 25px
				
			& > span
				font-weight 700
				color rgba(112, 112, 112, .43)
				
			p
				margin-left 20px
				font-weight 600
				
				span 
					font-weight 400
					font-style italic
				
				a 
					display block
					font-weight 400
					font-style italic
					text-decoration underline
					trs()
					
					&:hover
						opacity .8


	&__entry
		display flex
		align-items center
		margin-bottom 14px
		
		&-icon
			width 16px
			height 16px
			margin-right 8px
			fill brown

		&-title
			font-size 1.4rem
			color #707070
			
			a
				trs()
				
				&:hover
					opacity .8

	&__cart
		display inline-block
		width 66px
		height 77px
		padding-top 20px
		border-radius 0px 0px 10px 10px
		border 1px solid #707070
		text-align center
		background brown
		trs()
		
		&:hover
			opacity .8

		svg
			width 28px
			height 28px
			fill orange-light
			
		p 
			margin-top 10px
			font-size 1.2rem
			color #FFF
			

	&__list
		width 100%

	&__nav
		padding-top 36px
		padding-bottom 31px

		&-list
			display flex
			justify-content space-between
			align-items flex-start

		&-item
			
			&:first-child
				position relative
				
				&::before
					content ''
					position absolute
					top 100%
					height 30px
					width 100%
				
				&::after
					content ''
					position absolute
					top 32px
					left 15px
					width 0
					height 0
					border-left 15px solid transparent
					border-right 15px solid transparent
					border-bottom 15px solid pink-light
					opacity 0
					
				&:hover
				
					&::after
						opacity 1
						
					.header__nav-sublist
						display block
			
			a 
				color #707070
				trs()
				
				&:hover
					color brown
			
			&-arrow
				display none

		&-sublist
			position absolute
			top calc(100% + 30px)
			left 0
			width 273px
			padding 35px 35px 45px
			border-radius 15px
			background pink-light
			height 400px
			min-height 100%
			height calc(100vh - 160px)
			overflow-y auto
			
			display none
				
		&-subitem
			
			&:not(:last-child)
				margin-bottom 30px 
			
			a:hover
				color grey
				text-decoration underline

	&__adds-mob
		display none
		

	+width-lg()

		& + section,
		& + div
			margin-top 133px
	
		&__logo svg 
			max-width 200px
				
		&__location
			max-width 450px
	

	+width-md()
	
		&__logo svg 
			max-width 150px
				
		&__location
			max-width 360px
			
		&__entry
			flex-direction column
			align-items center
			margin-bottom 0
			order -1
			
			&-icon
				margin-right 0
				margin-bottom 5px
			
			&-title
				font-size 1rem
				
				span 
					display none
					
		&__nav
			padding-top 25px
			padding-bottom 15px
			
			&-item a
				font-size 1.2rem
				

	+width-sm()
		height 70px
		
		& + section,
		& + div
			margin-top 70px
			
		.grid
			align-items center
			height 100%
			
		&__logo svg
			max-width 165px
			height 25px
			
		&__switch
			display inline-flex
			flex-direction column
			align-items center
			height 32px
			width 31px
			overflow hidden
			
			&:hover
				cursor pointer
			
			svg
				width 22px
				height 22px
				fill brown
				
				&:last-of-type
					display none
				
			span
				font-size 1rem
				
		&__list
			display none
			position fixed
			top 70px
			left 0
			height 100%
			width 100%
			padding 40px 0
			background-color pink-light
			overflow-y auto
			
		&__nav
			padding 0
			
			&-list
				flex-direction column
				
			&-item
				width 100%
				
				&:first-child:hover
					
					&::after 
						display none
						
					.header__nav-sublist
						display none
				
				&:not(:last-child)
					margin-bottom 30px
				
				a 
					padding 0 40px
					font-size 1.4rem
					
				&-arrow
					display inline-block
					width 10px
					height 10px
					margin-left 15px
					vertical-align baseline
					fill #000
					trs()
					
					&--active
						transform rotate(180deg)	
			
			&-sublist
				position relative
				width 100%
				height auto
				padding 25px 0
				margin-top 25px
				border-radius 0
				background-color #ECCEAA
				
				&::after
					content ''
					position absolute
					top 0
					left 100px
					width 0
					height 0
					border-left 11px solid transparent
					border-right 11px solid transparent
					border-top 10px solid pink-light
					
		&__entry
			
			&:hover
				cursor pointer
			
			&-icon 
				width 22px
				height 22px
				fill brown
				
				&:last-of-type
					display none
				
		&__location
			display none
			
		&__cart
			position absolute
			top calc(100% + 20px)
			left 0
			width 53px
			height 52px
			padding-top 10px
			border-radius 0 10px 10px 0
			
			svg
				width 17px
				height 17px
				
			p 
				margin-top 5px
				font-size 1rem
				
		&__adds-mob
			display block
			padding 30px 40px 45px
			
			&-decor
				width 302px
				width 100%
				height 39px
				fill brown-light
			
			&-list
				padding-top 25px
				
			&-item
				font-size 1.5rem
				line-height 2.4rem
				font-weight 600
				
				&:not(:last-child)
					margin-bottom 25px
					
				span,
				a 
					font-weight 400
					font-style italic
					
				a 
					display block
					text-decoration underline
					


			
	

